.error_input {
    display: block;
    color: #f57f6c;
}

.error_input {
    font-size: 0.75rem;
    line-height: 1;
   /* margin-left: 14px; */
    /* margin-top: -1.6875rem; */
    margin-bottom: 0.9375rem;
}